

    a:link, a:visited {
    background-color: #696969;
    color: rgb(255, 255, 255);
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: box;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 0, 0);
  }
  
  #body1 {
    background-color: rgb(0, 191, 255);
  }
