

    a:link, a:visited {
    background-color: #696969;
    color: rgb(0, 0, 0);
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: list-item;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 0, 0);
  }
  
  #body1 {
    background-color: rgb(0, 191, 255);
  }

  #body2 {
    background-color: rgb(46, 203, 255);
  }

  #body3 {
    background-color: rgb(0, 145, 194);
  }

  #body4 {
    background-color: rgb(0, 120, 160);
  }

  #body5 {
    background-color: rgb(41, 166, 207);
  }

  #body6 {
    background-color: rgb(3, 93, 122);
  }
