 #body1 {
    background-color: rgb(255, 255, 255);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(97, 90, 90);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 32px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
 
  .active {
    background-color: #ff6200;
  }

  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 22px;
    float: none;
  
  }
  
  .column {
    float: left;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }